* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

main {
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    margin: 1.56rem;
}

h1 {
    font-family: 'Young Serif';
    font-weight: 400;
    color: hsl(24, 5%, 18%);
    margin-bottom: 15px;
    font-size: 2rem;
}

.description p {
    color: hsl(30, 10%, 34%);
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 20px 10px;
    color: hsl(30, 10%, 34%);
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
    font-weight: 800;
}

.preparation ul {
    margin-top: 10px;
    margin-left: 25px;
}

.preparation ul li {
    padding: 5px;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-size: 1.5rem;
    font-family: 'Young Serif';
    font-weight: 400;
}

.ingredients ul {
    margin-top: 15px;
    margin-left: 25px;
}

.ingredients ul li {
    padding: 5px;
}

hr {
    margin: 0 auto; /* centers the line break */
    width: 75%;
    color: hsl(30, 18%, 87%);
    text-align: center;
}

.instructions ol {
    margin-top: 15px;
    margin-left: 25px;
}

.instructions ol li {
    padding-left: 15px;
    padding-bottom: 10px;
}

ol li::marker {
    color:hsl(14, 45%, 36%); /* changes the color of just the numbers*/
    font-weight: bold;
}

.nutrition h2 {
    padding-bottom: 10px;
}

.nutrition p {
    margin-bottom: 10px;
}

.nutritional-value {
    padding-top: 12px;
}

.nutritional-value p {
    margin-left: 25px;
    padding: 10px 0;
}

.nutritional-value span {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    padding-left: 15px;
}

.nutritional-value hr {
    width: 85%;
}

table {
    margin-top: 15px;
    margin-left: 15px;
    width: 90%;
    height: auto;
    border-collapse: collapse;
}

td, th {
    border-bottom: 2px solid hsl(30, 18%, 87%);
    padding: 10px 20px;
}

th {
    color: hsl(14, 45%, 36%);
    text-align: left;
}

.last {
    border: none;
}

@media (min-width: 1200px) {

    * {
        font-size: 15px;
    }

    body {
        background-color: hsl(330, 100%, 98%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 220vh;
    }

    .recipe-card {
        width: 500px;
        padding: 25px 10px;
        border-radius: 15px;
    }

    .banner {
        text-align: center;
    }

    .banner img {
        border-radius: 10px;
        width: 90%;
    }

    .preparation {
        padding: 15px 10px;
        margin: 5px 25px;
    }
}